
#chart{
  flex: 1;
}
#log{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: black;
    border-color: black;
    overflow: auto;
  }

label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;  
  margin-left: 40px;
}

button{
  vertical-align: middle;
}

input{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;  
  display: inline-block;
  height: 25px;
}

select{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;  
  display: inline-block;
  height: 25px;
}

ion-icon{
  vertical-align: middle;
  display: inline-block;
  height: 20px;
}

.success{
  color:green;
}

.skip{
color:orange;
}

.error{
 color:red;
}