html, body {
  height: 100vh;
}

input[type=checkbox] {
  transform: scale(2.5);
  margin-top: 10px;
  margin-left: 6px;
}

.ion-icon{
  font-size: 50px;
}

#container{
  height: 100%;
  margin-left: 80px;
}

#outputdiv{
  display: flex;
  flex-flow: row;
}

#statsdiv{
  display:none;
}

#chartdiv{
  margin:0;
  padding:0;
  flex: 1 1 auto;
  display:none;
}

#loggerdiv{
  margin:0;
  padding:0;
  flex: 1 1 auto;
  font-size: 13px;
  color: white;
  background-color: black;
  overflow: auto;
}

#controlcnv{
  display:none;
}

#success{
  color:green;
}

#skip{
color:orange;
}

#error{
 color:red;
}

.info{
  color:white;
 }

.field{
  color:lightskyblue;
 }

.value{
  color:lightgoldenrodyellow;
 } 