html, body {
  height: 100vh;
}

.checkbox{
  vertical-align: middle;
}

#container{
  height: 100%;
}

#statsdiv{
  display:none;
}

#chartdiv{
  height: auto;
  display:none;
}

#loggerdiv{
  height: 70%;
  font-size: 13px;
  color: white;
  background-color: black;
  overflow: auto;
}

#controldiv{
  width: 50%;
  height: 50%;
  display:none;
  font-size: 13px;
  color: black;
  background-color: grey;
  overflow:hidden;
}

#success{
  color:green;
}

#skip{
color:orange;
}

#error{
 color:red;
}

.info{
  color:white;
 }

.field{
  color:lightskyblue;
 }

.value{
  color:lightgoldenrodyellow;
 } 